<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/views/header.css" type="text/css">
<link rel="stylesheet" href="/views/contact/contact.css" type="text/css">
<title>Contact</title>
</head>
<body>

  <%- include('../navbar') %>

<div class="container">
  <div style="text-align:center">
    <h2>Contact Us</h2>
    <p>Swing by for a cup of coffee, or leave us a message:</p>
  </div>
  <div class="row">
    <div class="column">
      <img src="/image/kharkiv.jpg" style="width:100%">
    </div>
    <div class="column">
      <form action="/contact" method="POST">
        <div class="warning" hidden>
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
          <strong>Warning!</strong> You have to fill all the fileds.
        </div>
        <div class="done" hidden>
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
          <strong>Thank you!</strong> Your message has been sent.
        </div>
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Your email..">
        <label for="subject">Subject</label>
        <input type="text" id="subject" name="subject" placeholder="Subject..">
        <label for="message">Text us here</label>
        <textarea id="text" name="subject" placeholder="Write something.." style="height:170px"></textarea>
        <input type="submit" value="Submit" class="submit">
      </form>
    </div>
  </div>
</div>
<script src="/views/js/contact.js"></script>
<script src="/views/js/menuMobile.js"></script>
</body>
</html>