<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Weather</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/views/stylesheet/weather.css" type="text/css">
</head>
<body>
<div class="bg-img">
  <form class="container">
    <h1>WEATHER</h1>
</br>
    <label for="city"><b>City</b></label>
    <input type="text" placeholder="Enter City" name="city" class="city">
    <input type="button" value="GET KNOW" class="btn">
    <p class="information">Information:</p>
    <img src="/image/temperature.png" alt="" style ="float: right;margin-top: 7px;">
    <p class="temperature">Temperature:</p>
    <img src="/image/cloud.png" alt="" style ="float: right;margin-top: 7px;">
    <p class="feels">Feels like:</p>
    <img src="/image/pressure.png" alt="" style ="float: right;margin-top: 7px;">
    <p class="pressure">Pressure:</p>
    <img src="/image/wind.png" alt="" style ="float: right;margin-top: 15px;">
    <p class="wind">Wind:</p>
  </form>
</div>
   <script src="/views/js/weather.js"></script>
</body>
</html>