<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../stylesheet/updatePassword.css" type="text/css"/>
  <link rel="stylesheet" href="../header.css" type="text/css"/>
  <link rel="shortcut icon" href="../image/favicon.ico" type="image/x-icon"/>
  <title>Restore password</title>
</head>
<body>

  <div class="header">
    <a href="/" class="logo"><h1>My Website</h1></a>
    <p>A website created by me.</p>
  </div>
  <div class="navbar">
    <a href="/">Home</a>
    <a href="/about">About us</a>
    <a href="/contact">Contact us</a>
    <a href="/login" class="right">Log In</a>
    <a href="/sign-up" class="right">Sign Up</a>
  </div>
  <div class="navbarMobile">
    <img src="../image/menu.png" class="burgerMenu" alt="" onclick="menu()">
    <a href="/" class="left">Home</a>
    <a href="/about" class="left">About us</a>
    <a href="/contact" class="left">Contact us</a>
    <a href="/login" class="left">Log In</a>
    <a href="/sign-up" class="left">Sign Up</a>
  </div>
  <form method="POST" class="update">
  <br />
  <div class="warning" style="display: none;">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    <strong>Warning!</strong> You have to fill all the fileds.
  </div>
  <div class="done" style="display: none;">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    <strong>Thank you!</strong> Your message has been sent.
  </div>
    <div class="container">
      <h1>Update password</h1>
      <p>Please fill in this form to update your password.</p>
  
      <label for="password"><b>New Password</b></label>
      <input type="password" class="password" placeholder="Enter new password" name="password" required>
      <img class = "showPassword" src="/image/see.png" alt="" role ="button" onclick="changeType('.password','.showPassword')">
      <br />
      <label for="passwordRepeat"><b>New Password</b></label>
      <input type="password" class="passwordRepeat" placeholder="Enter one more time new password" name="passwordRepeat" required>
      <img class ="repeatShowPassword" src="/image/see.png" alt="" role ="button" onclick="changeType('.passwordRepeat','.repeatShowPassword')">
      <div class="clearfix">
        <button type="submit" class="signupbtn">Update</button>
      </div>
    </div>
  </form>
  <script src="../js/updatePassword.js"></script>
</body>
</html>