<div class="header">
  <a href="/" class="logo"><h1>My Website</h1></a>
  <p>A website created by me.</p>
</div>

<div class="navbar">
  <a href="#">PIPS</a>
  <a href="/about">About us</a>
  <a href="/contact">Contact us</a>
  <a href="/login" class="right login">Log In</a>
  <a href="/sign-up" class="right sign-up">Sign Up</a>
</div>  

<div class="navbarMobile">
  <img src="/image/menu.png" class="burgerMenu" alt="" onclick="menu()">
  <a href="/" class="left">Home</a>
  <a href="/about" class="left">About us</a>
  <a href="/contact" class="left">Contact us</a>
  <a href="/login" class="left">Log In</a>
  <a href="/sign-up" class="left">Sign Up</a>
</div>