* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: rgb(240,240,240);
}

form {
  margin-left: 33%;
}

.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
  margin-top: 10px;
  width: 31.5%;
  margin-left: 35%;
  display: none;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 18px;
  display: inline-block;
  border: none;
  background-color: white;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.label {
  margin-left: 18px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Float cancel and signup buttons and add an equal width */
.signupbtn {
  float: left;
  width: 100%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
  width: 50%;
}

.clearfix {
  width: 100%;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 500px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}




@media screen and (max-width: 500px) {
  *{
    overflow-x: hidden;
  }
  body{
    height: 100%;
    width:100%;
  }
  .burgerMenu {
    margin-top: 8px;
    margin-left: 10px;
  }
  form {
    margin: 0;
    width: 190%;
  }
} 

@media screen and (max-width: 1000px) {
  *{
    overflow-x: hidden;
  }
  body{
    height: 100%;
    width:100%;
  }
  .burgerMenu {
    margin-top: 8px;
    margin-left: 10px;
  }
  .alert {
    margin: 0;
    width: 100%;
  }
  form {
    margin: 0;
    width: 190%;
  }
} 
