<!DOCTYPE html>
<html>
<head>
    <title>Log In</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/views/login/login.css" type="text/css">
    <link rel="stylesheet" href="/views/header.css" type="text/css">
    <link rel="shortcut icon" href="/image/favicon.ico" type="image/x-icon">
</head>
<body>

  <%- include('../navbar') %>

  <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    <strong>Warning!</strong>Please fill all the gaps.
  </div>

  <form>
    <div class="container">
      <h1 style="text-align: center;">Login</h1>
      <p style="text-align: center;">Please fill in this form to login.</p>
      <hr>

      <label for="email" class="label"><b>Email</b></label>
      <input type="text" class="email" placeholder="Enter Email" name="email" required>
      <br>
      <label for="password" class="label"><b>Password</b></label>
      <input type="password" class="password" placeholder="Enter Password" name="psw" required>
      <br>
        <a href="/restore-password" style=" text-decoration: none; color: rgb(69, 69, 202); margin-left: 18px;">Forgot Password?</a>
      <label class="label" style="float: right;">
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label>
  
      <div class="clearfix label">
        <button type="submit" class="loginbtn">Login</button>
      </div>
    </div>
  </form>

<script src="/views/login/login.js"></script>
<script src="/views/js/menuMobile.js"></script>
</body>
</html>