<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My first website</title>
  <link rel="stylesheet" href="/views/header.css" type="text/css">
  <link rel="stylesheet" href="/views/stylesheet/home.css" type="text/css">
</head>
<body>
  
  <div class="header">
    <a href="/" class="logo"><h1>My Website</h1></a>
    <p>A website created by me.</p>
  </div>
  <div class="navbar">
    <a href="/">Home</a>
    <!-- <a href="">Link</a> -->
    <a href="/about">About us</a>
    <a href="/login" class="right">Log In</a>
    <a href="/contact">Contact us</a>
    <a href="/sign-up" class="right">Sign Up</a>
  </div>
  <div class="navbarMobile">
    <img src="/image/menu.png" class="burgerMenu" alt="" onclick="menu()">
    <a href="/" class="left">Home</a>
    <!-- <a href="">Link</a> -->
    <a href="/about" class="left">About us</a>
    <a href="/contact" class="left">Contact us</a>
    <a href="/login" class="left">Log In</a>
    <a href="/sign-up" class="left">Sign Up</a>
  </div>

  <div class="bgimg-1">
    <div class="caption">
    <span class="border">WHY ARE WE?</span>
    </div>
  </div>
  
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px; font-size: 30px;">
    <h3 style="text-align:center; color: #ddd;">PIPS</h3>
    <p style="font-size: 20px;">PIPS was created to simplify the use of social networks. 
      Here you can tell your news, funny and sad stories that happened to you. 
      Find your friends and share with them the same second as it happened to you. 
      Transfer your photos, documents and whatever you want. 
      The most important thing is to stay in touch with your loved ones no matter what the reasons. 
      And the PIPS platform was created just for that. Have a nice chat!</p>
  </div>
  
  <div class="bgimg-2">
    <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: #000000;">EASIER</span>
    </div>
  </div>
  
  <div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px; font-size: 30px;">
    <p>Ease of use advantage</p>
    </div>
  </div>
  
  <div class="bgimg-3">
    <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">FASTER</span>
    </div>
  </div>
  
  <div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px; font-size: 30px;">
    <p>FAST! FASTER! THE FASTEST!</p>
    </div>
  </div>
  
  <div class="bgimg-1">
    <div class="caption">
    <a href="/sign-up" style="text-decoration: none;"><span class="border">SIGN UP RIGHT NOW</span></a>
    </div>
  </div>
    <script src="/views/js/home.js"></script>
</body>
</html>