<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>About Us</title>
  <link rel="stylesheet" href="/views/header.css" type="text/css">
  <link rel="stylesheet" href="/views/stylesheet/about.css" type="text/css">
</head>
<body>

  <%- include('../navbar') %>

  <div class="container">
    <div class="text">
      <h2>About Us</h2>
      <p>Who are we and what can you do here?</p>
    </div>
    <div class="row">
      <div class="map"> </div>
      <div class="column">
        <p style="margin-left: 10%;">
          text
        </p>
      </div>
    </div>
    <div class="mapMobile"> </div>
  </div>
  <div style="background-color: #f2f2f2; width: 100%;height: 180px;"></div>
    <script src="/views/js/about.js"></script>
    <script src="/views/js/menuMobile.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCupfgPoHTJHxkT6hYCTglwtuA9bvWn45k&callback=initMap">
  </script>
</body>
</html>