* {
  box-sizing: border-box;
  margin: 0;
}

.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.name, .surname {
  margin-top: 10px; 
  margin-bottom: 20px;
}


.skillsBlock {
  width: 100%;
  float: left;
  margin-top: 50px;
  margin-right: 20px;
};

.logo {
  text-decoration: none;
  color: white;
};

.container {
  width: 100%;
  background-color: #ddd;
};



.skills {
  color: #e20000;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}


.header {
  padding: 80px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

.profilePhoto {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.upload {
  margin-top: -50px;
  float: right;
}
/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
  color: white;
  text-decoration: none;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

.search-menu-mobile {
  width: 100%;
  height: 100%;
  color: #337ab7;
}


.resultFind {
  border: 2px solid black;
  width: 30%;
  float: right;
  height: 130px;
  display: none;
  margin-top: -20px;
  background-color: #f1f1f1;
}

.person {
  list-style-type: none;
  margin-bottom: 20px;
  padding: 5px;
}

.avatar {
  text-decoration: none;
}

.photoAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
  margin-left: -40px;
}

.nameAvatar {
  font-size: large;
  font-weight: 500;
  color: black;
  padding-left: 15px;
}

.descriptionAvatar {
  font-size: smaller;
  color: rgb(145, 145, 145);
  padding-left: 15px;
}

.changeInformation {
  display: none;
}

.personMobile {
  margin-bottom: 10px;
}

.search-menu-mobile {
  display: none;
}

.resultingSearch {
  font-size: x-large;
  margin-left: 25%;
  color: black;
  margin-bottom: 15px;
}

.resultMobileFind {
  display: none;
  margin-left: -7%;
  margin-top: 10px;
}

.infoMobile {
  display: inline-grid;
  padding: 10px;
}

.avatarMobile {
  text-decoration-line: none;
}

.photoAvatarMobile {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 20px;
}

.nameAvatarMobile {
  color: black;
  font-size: larger;
  font-weight: 600;
}

.descriptionAvatarMobile {
  color: black;
  font-size: larger;
 }

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}
.formUpload {
  display: none;
}
.icon-bar {
  width: 70px;
  background-color: #f1f1f1;
  overflow: auto;
  float: right;
  margin-top: -20px;
}

.icon-bar a {
  float: left;
  width: 21%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: #f1f1f1;
  font-size: 36px;
  margin-right: 20px;
}

.addSkills {
  float: right;
  margin-top: -30px;
  margin-right: -20px;
}
/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 15px;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input[type=button] {
  background-color: #e20000;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  margin-right: 20px;
}

input[type=button]:hover {
  background-color: #e20000;
}

.addPost {
  padding: 12px 20px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.addPost:hover {background-color: #3e8e41}

.btn {
  box-sizing: border-box;
  border-radius: 0.6em;
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.btn:hover, .btn:focus {
  background-position: 0;
}

.btn-red {
  border-color: #e20000;
  background-image: linear-gradient(45deg, #b80202 50%, transparent 50%);
}

.btn-green {
  background-image: linear-gradient(45deg, #3e8e41 50%, transparent 50%);
}

.addPost:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}
/* Fake image, just for this example */
.block-img {
  width: 100%;
  padding: 0px;
  float: left;
  margin-bottom: 30px;
}

.img {
  width: 100%;
  height: 600px;
}
/* Footer */
/* .footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
} */

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    width: 100%;
  }
  *{
    overflow-x: hidden;
  }

  .burgerMenu {
    margin-top: 8px;
    margin-left: 10px;
  }
  .emoji {
    display: none;
  }
}